.container {
  width: 100%;
  max-width: 500px;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.canvas {
  width: 100% !important;
  height: 100% !important;
  max-width: 500px;
  max-height: 500px;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  cursor: grab;
}

.canvas:active {
  cursor: grabbing;
}
